.title {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: '100%';
}
.pfp {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 15px;
}
.pfpButton {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
}
.logo1 {
  margin-left: 75px;
  margin-top: 15px;
  width: 100px;
  height: 100px;
  border-radius: 25px;
}
.signout {
  margin-top: 10px;
  margin-left: 8px;
}
.classDiv {
  width: 34%;
  margin: 2%;
  aspect-ratio: 1/1;
  padding: 0;
  border-color: black;
  border-radius: 20px;
  border-width: 20px;
  display: flex;
  flex-direction: column;
}
.classImage {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.holder {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: space-evenly;
}
.logo2 {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  margin: 15px;
}
.logoHolder {
  display: flex;
  flex-direction: row;
  width: 40%;
}
.titleText {
  font-size: 35px;
  font-weight: bolder;
  align-self: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
* {
  color: black;
}